.categoriesContainer {
  width: 100%;
  height: 170px;
  background: #e6e6e6;
}

.categoriesContainer ul {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.categoriesContainer ul li {
  box-sizing: border-box;
  width: calc(100% / 8);
}

.itemCategory {
  text-align: center;
  height: 170px;
  padding: 30px 10px;
}

.itemCategory:hover {
  background: #ccc;
}

.itemCategory a {
  display: inline-block;
}

.itemCategory span {
  display: block;
  padding: 0 15px 5px;
  font-size: 60px;
}

.itemCategory p {
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  display: inline-block;
  align-items: center;
  width: 100%;
}